# Node
node_modules/
dist/
.pnp
.pnp.js

# Build output
dist-ssr/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Rust / Cargo
target/
Cargo.lock

# Tauri
src-tauri/target/
src-tauri/WixTools/
*.msi
*.deb
*.rpm
*.AppImage

# TypeScript
*.tsbuildinfo
